<html>
  <head><title>mouhamad bakir restaurant </title><style>
  body { background-image: url("mo.jpeg");
         background-repeat: no-repeat ;
         background-size:100% 100% ; }
  p{color:red}
  </style>
  
  </head>
  <body>
  <div  style="text-align:center;color:black;background:white;font-weight:bold;height:144;position:fixed;top:0;z-index:1000;width:99.5% ">
  
    <pre
 
 
 align=center style="font-size:20">
  

 <a href="Account.html" style="color:red">home</a>       <u style ="color:red">profile</u>      <a href="Index2.html" style="color:red">about us</a>       <a href="Study.html" style="color:red">contact</a>          <input type=text value=search>🔎       


<hr>


</pre>
         </div>